@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #672ded;
  --color-scroll-bg: #fff;
}

.dark {
  --color-scroll-bg: #000;
}

/* Firefox */
html * {
  scrollbar-color: var(--color-primary) var(--color-scroll-bg);
  scrollbar-width: thin;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-scroll-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}
